
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: greenyellow;
    font-size: x-large;
}

img{
    max-width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.section{
    padding: 20px 0;
}

.z-index-carousel{
    position: absolute;
}

.z-index-nav{
    position: relative;
    z-index: 1;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

[class^="col-"]{
    padding: 15px;
}

nav a{
    margin: 0 15px;
    color: black;
}

a{
    text-decoration: none;
}

footer{
    background-color: #cccccc;
}

.centrar-v{
    align-items: center;
    justify-content: center;
}

.centrarTexto{
    text-align: center;
}

.text-color-white{
    color: white;
}

.alinearBorde{
    justify-content: space-between;
}

.alinearTextoDerecha{
    text-align: right;
}

.imgCarousel{
    height: 50%;
}

.bg-color-greenyellow{
    background-color: greenyellow;
}

.bg-color-red{
    background-color: red;
}

.rounded-border{
    border: 2px solid red;
    border-radius: 10px;
}

.border-red{
    border-style: groove;
    border-color: red;
}

@media screen and (max-width: 600px) {
   .col-4{
       width: 100%;
   }
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}